<div style="margin: auto; width: 250px">
  <input type="number" name="search" placeholder="City ID" (keyup)="changeId($event)"><input type="button" (click)="getWeather()" value="Search">
</div>

<div style="margin:auto; width: 400px" *ngIf="retData != null">
    <h2>Current Weather in {{printname}}</h2>
    <table>
      <tr>
        <th>Forecast</th><td>{{retData.title}}</td>
      </tr>
      <tr>
        <th>Country</th><td>{{retData.country}}</td>
      </tr>
      <tr>
        <th>Description</th><td>{{retData.description}}</td>
      </tr>
      <tr>
        <th>Temperature</th><td>{{retData.temperature}} *F</td>
      </tr>
      <tr>
        <th>Pressure</th><td>{{retData.pressure}} hPa</td>
      </tr>
      <tr>
        <th>Humidity</th><td>{{retData.humidity}}%</td>
      </tr>
      <tr>
        <th>Wind Speed</th><td>{{retData.speed}}mph</td>
      </tr>
    </table>
  </div>